* {
  font-family: "Inter", sans-serif;
  color: #112747;
  text-decoration: none !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.no-flick {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* -------header------- */
.navbar-collapse {
  flex-grow: 0;
  transform: translateZ(0);
  will-change: transform;
  transition: opacity 0.5s ease;
}
.navbar {
  will-change: transform;
  padding: 0 80px;
  height: 75px;
  justify-content: space-between;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  position: fixed;
  z-index: 99999;
  top: 0;
  --bs-navbar-brand-margin-end: 0 !important;
}
.logoImage {
  width: 155px;
}
.navbar-nav,
.nav-item {
  margin: 0;
}
.hoverable-dropdown:hover .dropdown-menu {
  display: block;
}
.navbar-expand-lg .navbar-nav .nav-item {
  padding: 22px 15px !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.nav-contact {
  display: flex;
  gap: 24px;
}
.navbar-toggler-icon {
  background-image: url(../images/menu.svg);
}
.navbar-toggler {
  border: 0;
  padding: 0;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.nav-link {
  color: #112747;
  font-size: 14px;
  font-weight: 400;
}
.navbar li a {
  color: #112747;
}
.navbar li .nav-link {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  letter-spacing: 0.29px;
}
.navbar li .nav-link.active {
  font-weight: 700;
  border-bottom: 4px solid #194ab9;
  letter-spacing: 0;
}
.navbar li .nav-link:hover {
  font-weight: 700;
  border-bottom: 4px solid #194ab9;
  letter-spacing: 0;
}
.nav-contact a,
.nav-contact div {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #112747;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.29px;
}
.nav-contact a:hover {
  font-weight: 600;
  letter-spacing: 0;
  color: #1547ba;
}
.dropdown-toggle::after {
  content: "";
  display: none;
}
.arrow-down {
  content: url("../images/arrow_down.svg");
  position: relative;
  right: -6px;
  width: 20px;
}
.navbar-brand {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
}
.dropdown-toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 75px;
  width: 1650px;
  padding: 30px;
  left: -620px;
}
.dropdown:hover .dropdown-menu {
  display: block;
}
.large_allMenu {
  display: flex;
  gap: 60px;
}
.dropdown-menu li {
  width: 200px;
  display: flex;
  flex-direction: column;
}
.large_allMenu li a {
  font-size: 18px !important;
  padding-bottom: 16px;
  border-bottom: 1px solid rgb(25, 74, 185, 0.3);
  color: #112747 !important;
  margin-bottom: 16px;
}
.large_allMenu li a:hover {
  padding-bottom: 16px !important;
  border-bottom: 2px solid #194ab9;
  color: #112747;
  font-weight: 600;
}
.dropdown_allMenu {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.dropdown_allMenu span a:hover {
  color: #112747 !important;
  font-weight: 600 !important;
  border: none;
}
.dropdown_allMenu span a {
  cursor: pointer !important;
  color: #596175 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  border: none;
}
.responsive_allMenu {
  display: none;
}
/* -------end */

.service_section {
  padding: 100px 120px;
}
.service_section_heading {
  display: flex;
  justify-content: center;
}
.service_section_heading h1 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
  width: 800px;
}
.industry {
  margin-bottom: 60px;
}
.industry p {
  color: #596175;
  font-size: 18px;
  font-weight: 400;
}
.rating_section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.rating {
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 12px;
  text-align: center;
}
.rating_section p {
  color: #596175;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}
.hr {
  width: 1px;
  height: 48px;
  background-color: #194ab9;
  margin: 0 72px;
  opacity: 0.5;
}

.we_offer {
  padding: 100px 120px;
  background-color: #f2faff;
}
.we_offer h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}
.myCard {
  padding: 24px;
  border-radius: 4px 4px 0px 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 165, 210, 0.1);
  border: none;
  border-top: 6px solid transparent;
  height: 100%;
}
.indicates {
  padding: 20px;
  margin-top: 0;
}

.myCard h3 {
  font-size: 28px;
  font-weight: 600;
  margin-top: 24px;
  margin-bottom: 12px;
}
.myCard p {
  color: #667189;
  margin: 0px;
}
.offerDiv {
  --bs-gutter-x: 5.5rem;
  --bs-gutter-y: 3rem;
}
.myCardCustom {
  position: absolute;
  margin-top: 30px;
  left: 0;
}
.myCardCustom {
  position: absolute;
  margin-top: 30px;
  width: 100%;
  left: 0;
}
.myCard:hover {
  border-top: 6px solid #0cbdef;
  transition: 2s;
  border-radius: 4px 4px 0px 0px;
}
.indicates_heading {
  color: #112747;
}
.myCard:hover .span_read_more,
.myCard:hover .indicates_heading {
  color: #194ab9;
}
.myCard:hover .blue_arrow {
  display: block;
}
.myCard:hover .black_arrow {
  display: none;
}
.span_read_more {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  gap: 12px;
  justify-content: end;
  margin-top: 43px;
}
.blue_arrow {
  display: none;
}
.myCard:hover .blue_arrow {
  display: block;
}
.icon {
  height: 60px;
  width: 60px;
}

.card_a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ------customer section------ */
.customers_section {
  padding: 100px 120px;
  background-image: url("../images/LooperGroup.png");
  background-repeat: no-repeat;
  background-position: right;
}
.customers_section h2 {
  color: #112747;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}
.slick-list {
  height: 340px;
}
.wrapper {
  overflow-x: hidden;
}
.slick-initialized .slick-slide {
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  height: 100%;
}
.slick-track {
  display: flex;
  gap: 24px;
}
.slick-next,
.slick-prev {
  z-index: 5;
}
.slick-next {
  right: 15px;
}
.slick-prev {
  left: 15px;
}
.slick-next:before,
.slick-prev:before {
  color: #000;
  font-size: 26px;
}
.slick-slider {
  margin-bottom: 0;
}
.slick-dots {
  position: initial;
  margin: 0;
}
.sliderDiv p {
  color: #112747;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}
.sliderDiv h6 {
  color: #112747;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
}
.sliderDiv span {
  color: #596175;
  font-size: 16px;
  font-weight: 400;
}
.slick-dots li button:before {
  font-size: 10px;
  color: #596175;
  opacity: 0.4;
}
.slick-active button::before {
  color: #194ab9 !important;
  outline: 1px solid #194ab9;
  outline-offset: 0.1px !important;
  border-radius: 50%;
  width: 18px !important;
  height: 18px !important;
}
/* ----blue section------- */
.contact_us {
  border-radius: 12px;
  background: #1547ba;
  box-shadow: 0px 24px 48px 0px rgba(0, 0, 0, 0.1);
  margin: 104px 120px;
  margin-top: 0px;
}

.contact_us h3 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 14px;
}
.contact_us p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 4px;
}

.contact_us_btn {
  border-radius: 44px;
  background: #0cbdef;
  display: flex;
  width: 168px;
  height: 48px;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  z-index: 99;
  position: relative;
}

.email_img {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
  padding-top: 87px;
}

.email_img span {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  opacity: 0.7;
}

.email_img p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.call_img {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-bottom: 81px;
}

.call_img span {
  color: #fff;
  opacity: 0.7;
  font-size: 20px;
  font-weight: 400;
}

.call_img p {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.contact_01 p {
  margin-bottom: 32px;
  width: 86%;
}

.contact_img {
  display: flex;
  justify-content: end;
}

.contactss {
  padding: 60px 0px 60px 80px;
}

.responsive_img {
  display: none;
}
/* -------footer------- */
.bg_color {
  background-color: #f4f3f8;
  padding: 60px 120px 52px 120px;
}

.logo p {
  color: #596175;
  width: 406px;
}
.green_it_logo {
  margin-bottom: 34px;
  width: 154px;
  height: 39px;
}

.bg_color ul li a {
  color: #596175;
  text-decoration: none;
  padding: 0px;
}

.bg_color ul {
  padding-left: 0px;
}

ul li {
  list-style: none;
  margin-bottom: 8px;
  font-size: 14px;
}

.footer_link_heading {
  font-size: 16px;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 34px;
}

.footer_wrapper {
  background-color: #ebeaf0;
  padding: 21px 115px 21px 120px;
  display: flex;
  justify-content: space-between;
}
.footer_wrapper p {
  margin: 0px;
  font-size: 12px;
}
.footer_gap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer_gap li a:hover {
  font-weight: 800;
  color: #1547ba;
}
.footer_wrapper_section {
  display: flex;
}
.footer {
  display: flex;
  gap: 16px;
}

.footer_section {
  display: none;
}

.section1 {
  margin-top: 75px;
  height: 350px;
  background-image: url("../images/main_bg.png");
  position: relative;
}
.bgImg {
  height: 100%;
  background-image: url("../images/bgImg.png");
  background-repeat: no-repeat;
  padding: 0 166px 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading {
  width: 620px;
  border-left: 12px solid #0cbdef;
  height: 143px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  padding-left: 32px;
}
.heading h1 {
  margin: 0;
  color: #112747;
  font-size: 56px;
  font-weight: 700;
}
.heading p {
  margin: 0;
  color: #667189;
  font-size: 18px;
  font-weight: 400;
}

.slick-dots li {
  margin: 0 3px !important;
}

/* RESPONSIVE */

@media only screen and (min-width: 1280px) and (max-width: 1664px) {
  .service_section h1 {
    font-size: 40px;
  }
  .service_section {
    padding: 80px;
  }
  .we_offer h2 {
    font-size: 40px;
  }
  .we_offer {
    padding: 80px;
  }
  .customers_section {
    padding: 80px;
  }
  .contact_us h3 {
    font-size: 40px;
  }
  .container-fluid {
    padding: 0;
  }
  .customers_section h2 {
    font-size: 40px;
  }
  .slick-list {
    height: 296px;
  }
  .slick-dots {
    margin-top: 12px;
  }
  /* NAVBAR */
  .navbar {
    padding: 16px 80px;
  }
  .dropdown-menu {
    top: 76px;
    width: 1260px;
    padding: 30px;
    left: -404px;
  }
  .large_allMenu {
    gap: 40px;
  }
  .large_allMenu li a {
    font-size: 17px !important;
  }
  .dropdown-menu li {
    width: 180px;
  }
  .dropdown_allMenu span a {
    font-size: 14px !important;
  }
  /* -----section1----- */
  .bgImg {
    padding: 0 80px !important;
  }
  /* ----blue section---- */
  .contact_us {
    margin: 0 80px 80px 80px;
  }
  .contact_01 p {
    width: 100%;
  }
  /* -----footer---- */
  .bg_color {
    padding: 60px 80px 52px 80px;
  }

  .footer_wrapper {
    padding: 21px 80px 21px 80px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1279px) {
  .service_section {
    padding: 60px 40px 60px 40px;
  }
  .service_section_heading h1 {
    font-size: 36px;
    width: 600px;
  }
  .myCard h3 {
    font-size: 20px;
    margin-top: 32px;
    margin-bottom: 12px;
  }
  .myCard p {
    font-size: 18px;
  }
  .myCard {
    margin-right: 0px;
    height: 100%;
  }
  .myCard .span {
    opacity: 1;
    margin-bottom: 24.5px;
    font-size: 18px;
  }
  .we_offer {
    padding: 60px 40px 60px 40px;
  }
  .we_offer h2 {
    font-size: 36px;
  }
  .customers_section {
    padding: 60px 40px;
  }
  .customers_section h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .slick-track {
    gap: 20px;
  }
  .slick-list {
    height: 340px;
  }
  .slick-dots {
    margin-top: 16px;
  }
  /* ------- blue section----- */
  .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }
  .contact_us {
    margin: 0;
    margin-bottom: 70px;
  }
  .email_img {
    gap: 12px;
    padding-top: 40px;
  }
  .call_img {
    gap: 12px;
  }
  .contact_us p {
    font-size: 17px;
  }
  .contact_us h3 {
    font-size: 36px;
  }
  .contactss {
    padding: 40px 46px;
  }
  .contact_01 {
    margin: 0px;
  }
  .contact_01 p {
    width: auto;
  }
  .contact_us_btn {
    font-size: 16px;
    width: 152px;
    height: 45px;
  }
  .contact_responsive {
    display: block;
  }
  /* ------footer--- */
  .bg_color {
    padding: 32px;
  }
  .logo p {
    font-size: 14px;
    width: auto;
    margin-bottom: 0px;
  }
  .green_it_logo {
    margin-bottom: 20px;
  }
  .footer_wrapper {
    padding: 12px 30px;
  }
  .footer_link_heading {
    margin-bottom: 20px;
  }
  .footer_wrapper p {
    font-size: 14px;
  }
  .hr_line {
    width: auto;
  }
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
  .icon {
    height: 48px;
    width: 48px;
  }
  /* ----- header ------ */
  .navbar {
    padding: 0 40px;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 25px 10px !important;
  }
  .logoImage {
    width: 130px;
  }
  .nav-contact {
    gap: 18px;
  }
  .nav-contact a {
    gap: 10px;
  }
  .arrow-down {
    position: relative;
    right: -3px;
  }
  .dropdown-menu {
    top: 70px;
    width: 970px;
    padding: 16px;
    left: -270px;
  }
  .large_allMenu {
    gap: 16px;
  }
  .dropdown-menu li {
    width: 144px;
  }
  .large_allMenu li a {
    font-size: 16px !important;
  }
  .dropdown_allMenu span {
    font-size: 14px;
  }
  /* --section-1 */
  .bgImg {
    padding: 0 32px;
  }
  .heading {
    width: 460px;
    border-left: 8px solid #0cbdef;
    height: 140px;
    gap: 12px;
    padding-left: 24px;
  }
  .heading h1 {
    font-size: 40px;
  }
  .heading p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .navbar li .nav-link.active,
  .navbar li .nav-link:hover {
    border: none;
  }
  .responsive_allMenu li a {
    padding: 12px 16px !important;
  }
  .service_section {
    padding: 60px 0 !important;
  }
  .service_section h1 {
    font-size: 28px;
    width: 500px;
  }
  .rating {
    font-size: 35px;
  }
  .rating_section {
    display: flex;
    padding: 0px 32px 0px 32px;
  }
  .rating_section p {
    font-size: 16px;
  }
  .industry p {
    font-size: 16px;
  }
  .industry {
    padding: 0px 32px 0px 32px;
    margin-bottom: 40px;
  }
  .hr {
    width: 1px;
    height: 48px;
    margin: 24px 0;
  }
  .responsive_img {
    display: block;
    width: 100% !important;
  }
  .span_read_more {
    margin-top: 24px;
    margin-bottom: 20px;
  }
  .we_offer {
    padding: 60px 32px 60px 32px;
  }
  .we_offer h2 {
    font-size: 28px;
    text-align: center;
  }
  .icon {
    height: 48px;
    width: 48px;
  }
  .indicates {
    padding: 10px 10px;
  }
  .myCard h3 {
    font-size: 18px;
    color: #112747;
    margin-top: 32px;
    margin-bottom: 12px;
  }
  .myCard p {
    font-size: 14px;
  }
  .myCard {
    padding: 32px 20px 0px 20px;
    height: 100%;
  }
  .myCard .span {
    opacity: 1;
    margin-bottom: 24.5px;
    font-size: 14px;
  }
  /* --------customer section ------- */
  .customers_section {
    padding: 60px 32px;
  }
  .customers_section h2 {
    font-size: 28px;
    margin-bottom: 40px;
  }
  .slick-list {
    height: 430px;
  }
  .slick-dots {
    margin-top: 10px;
  }
  /* ---------- */
  .contact_us {
    margin: 0 0px 32px 0px;
  }
  .contact_us h3 {
    font-size: 28px;
  }
  .contactss {
    padding: 40px 46px;
    text-align: -webkit-center;
  }
  .contact_01 {
    margin: 0px;
  }
  .contact_01 p {
    width: auto;
  }
  .contact_us_btn {
    font-size: 16px;
    width: 152px;
    height: 45px;
  }
  .email_img {
    padding: 0px;
    margin-bottom: 24px;
  }
  .contact_flex {
    display: flex;
    justify-content: space-around;
  }
  .call_img {
    padding-bottom: 42px;
  }
  .responsive_img {
    display: block;
    width: 100% !important;
  }
  .contact_responsive {
    display: none;
  }
  /* -------footer ------ */
  .bg_color {
    padding: 32px;
  }
  .logo {
    padding: 40px 0px 32px 0px;
  }
  .logo p {
    font-size: 14px;
    width: auto;
    margin-bottom: 0px;
  }
  .green_it_logo {
    margin-bottom: 20px;
  }
  .footer_wrapper {
    padding: 12px 30px;
  }
  .footer_wrapper p {
    font-size: 12px;
  }
  .images_02 {
    display: none;
  }
  .hr_line {
    width: auto;
  }
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
  .hr_div {
    display: block !important;
  }
  .IT_section {
    --bs-gutter-x: 0;
  }
  /* -----header------ */
  .navbar {
    padding: 0 32px;

    align-items: center;
    height: 62px;
  }
  .logoImage,
  .green_it_logo {
    width: 120px;
    height: 35px;
  }
  .nav-contact {
    display: none;
  }
  .navbar-collapse {
    right: -100%;
    transition: all 0.5s ease;
    display: flex;
    align-items: flex-start;
    width: 90%;
    background-color: #fff;
    height: 100vh;
    position: absolute;
    top: 62px;
  }
  .navbar-collapse.collapse.show {
    right: 0;
  }
  .navbar-nav {
    width: 100% !important;
  }
  .arrow-down {
    position: relative;
    width: 24px;
    right: 10px;
  }
  .large_allMenu {
    display: none;
  }
  .responsive_allMenu {
    display: block;
  }
  .dropdown-menu {
    display: none;
    position: relative;
    background-color: transparent;
    box-shadow: none;
    border: none;
    z-index: 99999;
    top: 0;
    width: 288px;
    padding: 0;
    padding-left: 16px;
    left: 0;
    width: 100%;
  }
  .dropdown-menu li {
    width: auto;
  }
  .dropdown-menu li a {
    border: none;
    margin: 0;
    display: flex;
    gap: 8px;
    color: #112747;
  }
  .navbar li a {
    display: flex;
    width: 100%;
    font-size: 18px;
  }
  .navbar.open {
    left: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 25px 15px !important;
  }
  .navbar li .active {
    border: 0;
    background-color: #f2faff !important;
  }
  .navbar li :hover {
    border: none;
    background-color: #f2faff !important;
  }
  /* --section-1 */
  .section1 {
    height: auto;
    margin-top: 56px;
  }
  .bgImg {
    padding: 30px 20px;
  }
  .heading {
    width: auto;
    border-left: 8px solid #0cbdef;
    height: 135px;
    gap: 10px;
    padding-left: 18px;
  }
  .heading h1 {
    font-size: 32px;
  }
  .heading p {
    font-size: 15px;
  }
  .contactImage img {
    width: 180px;
    height: 180px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .navbar li .nav-link.active,
  .navbar li .nav-link:hover {
    border: none;
  }
  .responsive_allMenu li a {
    padding: 12px 16px !important;
  }
  .service_section {
    padding: 60px 0px 20px 0px;
  }
  .service_section h1 {
    font-size: 28px;
    margin-bottom: 20px;
    width: 400px;
  }
  .rating {
    font-size: 35px;
  }
  .rating_section {
    display: flex;
    padding: 20px 16px 20px 16px;
  }
  .rating_section p {
    font-size: 16px;
  }
  .industry p {
    font-size: 16px;
  }
  .industry {
    margin: 20px 16px;
  }
  .hr {
    width: 1px;
    height: 48px;
    margin: 0 24px;
  }
  .contact_responsive {
    display: none;
  }
  .responsive_img {
    display: block;
    width: 100% !important;
  }
  .span_read_more {
    margin-top: 24px;
    margin-bottom: 20px;
  }
  .we_offer {
    padding: 40px 16px 40px 16px;
  }
  .we_offer h2 {
    font-size: 28px;
    text-align: center;
  }
  .icon {
    height: 48px;
    width: 48px;
  }
  .indicates {
    padding: 5px 5px;
  }
  .myCard h3 {
    font-size: 18px;
    color: #112747;
    margin-top: 32px;
    margin-bottom: 12px;
  }
  .myCard p {
    font-size: 14px;
  }
  .myCard {
    padding: 32px 20px 0px 20px;
    height: 100%;
  }
  .myCard .span {
    opacity: 1;
    margin-bottom: 24.5px;
    font-size: 14px;
  }
  /* ------ customer -section ------ */
  .customers_section {
    padding: 40px 16px;
    background-image: none;
  }
  .customers_section h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  .slick-dots {
    margin-top: 5px;
  }
  /* ------------ */
  .contact_us {
    margin: 0 0px 32px 0px;
  }
  .contact_us h3 {
    font-size: 24px;
  }
  .contactss {
    padding: 40px 46px;
    text-align: -webkit-center;
  }
  .contact_01 {
    margin: 0px;
  }
  .contact_01 p {
    width: auto;
    font-size: 14px;
  }
  .contact_us_btn {
    font-size: 16px;
    width: 152px;
    height: 45px;
  }
  .email_img {
    padding: 0px;
    margin-bottom: 24px;
    margin-left: 16px;
  }
  .call_img {
    margin-left: 16px;
    padding-bottom: 42px;
  }
  .responsive_img {
    display: block;
    width: 100% !important;
  }
  .contact_responsive {
    display: none;
  }
  .bg_color {
    padding: 16px;
  }
  .logo {
    padding: 40px 0px 32px 16px;
  }
  .logo p {
    font-size: 14px;
    width: auto;
    margin-bottom: 0px;
  }
  .green_it_logo {
    margin-bottom: 20px;
  }
  .footer_wrapper {
    padding: 12px 16px;
  }
  .footer_wrapper p {
    font-size: 12px;
  }
  .images_02 {
    display: none;
  }
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
  .hr_div {
    display: block !important;
  }
  /* -----header------ */
  .navbar {
    padding: 0 16px;

    align-items: center;
    height: 56px;
  }
  .logoImage,
  .green_it_logo {
    width: 120px;
    height: 30px;
  }
  .nav-contact {
    display: none;
  }
  .navbar-collapse {
    right: -100%;
    transition: all 0.5s ease;
    display: flex;
    align-items: flex-start;
    width: 90%;
    background-color: #fff;
    height: 100vh;
    position: absolute;
    top: 56px;
  }
  .navbar-collapse.collapse.show {
    right: 0;
  }
  .navbar-nav {
    width: 100% !important;
  }
  .arrow-down {
    position: relative;
    width: 24px;
    right: 10px;
  }
  .large_allMenu {
    display: none;
  }
  .responsive_allMenu {
    display: block;
  }
  .dropdown-menu {
    display: none;
    position: relative;
    background-color: transparent;
    box-shadow: none;
    border: none;
    z-index: 99999;
    top: 0;
    width: 288px;
    padding: 0;
    padding-left: 16px;
    left: 0;
    width: 100%;
  }
  .dropdown-menu li {
    width: auto;
  }
  .dropdown-menu li a {
    border: none;
    margin: 0;
    display: flex;
    gap: 8px;
    color: #112747;
  }
  .navbar li a {
    display: flex;
    width: 100%;
    font-size: 18px;
  }
  .navbar.open {
    left: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 25px 15px !important;
  }
  .navbar li .active {
    border: 0;
    background-color: #f2faff !important;
  }
  .navbar li :hover {
    border: none;
    background-color: #f2faff !important;
  }
  /* --section-1 */
  .section1 {
    height: auto;
    margin-top: 56px;
  }
  .bgImg {
    padding: 28px 16px;
  }
  .heading {
    width: auto;
    border-left: 8px solid #0cbdef;
    height: 130px;
    gap: 8px;
    padding-left: 18px;
  }
  .heading h1 {
    font-size: 28px;
  }
  .heading p {
    font-size: 14px;
  }
  .contactImage img {
    width: 180px;
    height: 180px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 575px) {
  .navbar li .nav-link.active,
  .navbar li .nav-link:hover {
    border: none;
  }
  .responsive_allMenu li a {
    padding: 12px 16px !important;
  }
  .service_section {
    padding: 40px 16px 40px 16px;
  }
  .service_section h1 {
    font-size: 20px;
    margin-bottom: 12px;
    width: auto;
  }
  .rating {
    font-size: 32px;
  }
  .rating_section {
    display: flex;
    flex-wrap: wrap;
  }
  .rating_section p {
    font-size: 14px;
  }
  .industry p {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .industry {
    padding: 0px 0px;
    margin-bottom: 22px;
  }
  .hr {
    margin: 24px 0;
  }
  .hr_section {
    display: none;
  }
  .experience {
    width: 49%;
  }
  .clients {
    width: 50%;
  }
  .Satisfaction {
    width: 50%;
    margin-top: 32px;
  }
  .myCard h3 {
    font-size: 18px;
    color: #112747;
    margin-top: 24px;
    margin-bottom: 12px;
  }
  .myCard p {
    font-size: 14px;
  }
  .myCard {
    padding: 32px 20px 0px 20px;
  }
  .myCard .span {
    opacity: 1;
    margin-bottom: 24.5px;
    font-size: 14px;
  }
  .we_offer {
    padding: 40px 0px 16px 0px;
  }
  .we_offer h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 24px;
  }
  .span_read_more {
    margin-top: 24px;
    margin-bottom: 20px;
  }
  .indicates {
    padding: 8px 16px 24px 16px !important;
  }
  /* ------customer-section------ */
  .customers_section {
    padding: 40px 16px;
    background-image: none;
  }
  .customers_section h2 {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .slick-initialized .slick-slide {
    padding: 20px;
  }
  .sliderDiv p {
    font-size: 16px;
    margin-bottom: 32px;
  }
  .sliderDiv h6 {
    font-size: 14px;
  }
  .sliderDiv span {
    font-size: 12px;
  }
  .slick-list {
    height: 270px;
  }
  .slick-dots {
    margin-top: 10px;
  }
  /* --------------- */
  .contact_responsive {
    display: none;
  }
  .contact_us {
    margin: 0 0px 32px 0px;
  }
  .contactss {
    padding: 40px 46px;
    text-align: -webkit-center;
  }
  .contact_01 {
    margin: 0px;
  }
  .contact_01 p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
    width: auto;
  }
  .contact_us h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
    text-align: center;
  }
  .contact_us_btn {
    font-size: 16px;
    width: 137px;
    height: 40px;
  }

  /* ------end------ */
  .footer_wrapper {
    padding: 12px 69px;
  }
  .footer_wrapper p {
    font-size: 12px;
  }
  .footer {
    display: none;
  }
  .footer_section {
    padding: 24px 0px 32px 16px;
    display: block;
  }
  .bg_color {
    padding: 0px;
  }
  .green_it_logo {
    margin-bottom: 20px;
  }
  .logo {
    padding: 40px 16px 32px 16px;
  }
  .logo p {
    width: auto;
  }
  .icon {
    height: 48px;
    width: 48px;
  }
  .email_img {
    padding: 0px;
    margin-bottom: 24px;
    margin-left: 16px;
  }
  .email_img span {
    font-size: 16px;
    opacity: 0.7;
  }
  .email_img p {
    font-size: 14px;
  }
  .call_img {
    margin-left: 16px;
    padding-bottom: 42px;
  }
  .call_img span {
    font-size: 16px;
    opacity: 0.7;
  }
  .call_img p {
    font-size: 14px;
  }
  .responsive_img {
    display: block;
    width: 100% !important;
  }
  .links {
    padding-left: 16px;
  }
  .IT_section {
    --bs-gutter-x: 0;
  }

  /* -----header------ */
  .navbar {
    padding: 0 16px;

    align-items: center;
    height: 56px;
  }
  .logoImage,
  .green_it_logo {
    width: 100px;
    height: 25px;
  }
  .nav-contact {
    display: none;
  }
  .navbar-collapse {
    right: -100%;
    transition: all 0.5s ease;
    display: flex;
    align-items: flex-start;
    width: 90%;
    background-color: #fff;
    height: 100vh;
    position: absolute;
    top: 56px;
  }
  .navbar-collapse.collapse.show {
    right: 0;
  }
  .navbar-nav {
    width: 100% !important;
  }
  .arrow-down {
    position: relative;
    width: 24px;
    right: 10px;
  }
  .large_allMenu {
    display: none;
  }
  .responsive_allMenu {
    display: block;
  }
  .dropdown-menu {
    display: none;
    position: relative;
    background-color: transparent;
    box-shadow: none;
    border: none;
    z-index: 99999;
    top: 0;
    width: 288px;
    padding: 0;
    padding-left: 16px;
    left: 0;
    width: 100%;
  }
  .dropdown-menu li {
    width: auto;
  }
  .dropdown-menu li a {
    border: none;
    margin: 0;
    display: flex;
    gap: 8px;
    color: #112747;
  }
  .navbar li a {
    display: flex;
    width: 100%;
    font-size: 18px;
  }
  .navbar.open {
    left: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 25px 15px !important;
  }
  .navbar li .active {
    border: 0;
    background-color: #f2faff !important;
  }
  .navbar li :hover {
    border: 0;
    border: none;
    background-color: #f2faff !important;
  }

  /* --section-1 */
  .section1 {
    height: auto;
    margin-top: 56px;
    background-size: cover;
    background-position: bottom;
    background-image: url(../images/responsive_bgImg.png);
  }
  .bgImg {
    padding: 28px 16px;
    display: block;
  }
  .heading {
    border-left: 4px solid #0cbdef;
    width: auto;
    height: 120px;
    gap: 8px;
    padding-left: 16px;
    margin-bottom: 16px;
  }
  .heading h1 {
    font-size: 24px;
  }
  .heading p {
    font-size: 14px;
  }
  .contactImage img {
    width: 180px;
    height: 180px;
  }
  .contactImage {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (min-width: 280px) and (max-width: 359px) {
  .navbar li .nav-link.active,
  .navbar li .nav-link:hover {
    border: none;
  }
  .responsive_allMenu li a {
    padding: 12px 16px !important;
  }
  .service_section {
    padding: 30px 16px 30px 16px;
  }
  .service_section h1 {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .rating {
    font-size: 32px;
  }
  .rating_section {
    display: flex;
    flex-wrap: wrap;
  }
  .rating_section p {
    font-size: 14px;
  }
  .industry p {
    font-size: 14px;
    margin-bottom: 12px;
  }
  .industry {
    padding: 0px 0px;
    margin-bottom: 32px;
  }
  .hr {
    margin: 24px 0;
  }
  .hr_section {
    display: none;
  }
  .experience {
    width: 49%;
  }
  .clients {
    width: 50%;
  }
  .Satisfaction {
    width: 50%;
    margin-top: 32px;
  }
  .myCard h3 {
    font-size: 18px;
    color: #112747;
    margin-top: 24px;
    margin-bottom: 12px;
  }
  .myCard p {
    font-size: 14px;
  }
  .myCard {
    padding: 32px 20px 0px 20px;
  }
  .myCard .span {
    opacity: 1;
    margin-bottom: 24.5px;
    font-size: 14px;
  }
  .we_offer {
    padding: 40px 0px 16px 0px;
  }
  .we_offer h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 24px;
  }
  .span_read_more {
    margin-top: 24px;
    margin-bottom: 20px;
  }
  .indicates {
    padding: 8px 16px 8px 16px !important;
  }
  /* ------customer-section------ */
  .customers_section {
    padding: 40px 16px;
    background-image: none;
  }
  .customers_section h2 {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .slick-initialized .slick-slide {
    padding: 20px;
  }
  .sliderDiv p {
    font-size: 16px;
    margin-bottom: 32px;
  }
  .sliderDiv h6 {
    font-size: 14px;
  }
  .sliderDiv span {
    font-size: 12px;
  }
  .slick-list {
    height: 340px;
  }
  .slick-dots {
    margin-top: 10px;
  }
  /* ----------- */
  .contact_responsive {
    display: none;
  }
  .contact_us {
    margin: 40px 0px 32px 0px;
  }
  .contactss {
    padding: 40px 46px;
    text-align: -webkit-center;
  }
  .contact_01 {
    margin: 0px;
  }
  .contact_01 p {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 24px;
    width: auto;
  }
  .contact_us h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
    text-align: center;
  }
  .contact_us_btn {
    font-size: 16px;
    width: 137px;
    height: 40px;
  }
  /* --------end ------ */
  .footer_wrapper {
    padding: 12px 16px;
  }
  .footer_wrapper p {
    font-size: 12px;
  }
  .footer {
    display: none;
  }
  .footer_section {
    padding: 24px 0px 32px 16px;
    display: block;
  }
  .bg_color {
    padding: 0px;
  }
  .green_it_logo {
    margin-bottom: 20px;
  }
  .logo {
    padding: 40px 16px 32px 16px;
  }
  .logo p {
    width: auto;
  }
  .icon {
    height: 48px;
    width: 48px;
  }
  .email_img {
    padding: 0px;
    margin-bottom: 24px;
    margin-left: 6px;
    gap: 6px;
  }
  .email_img span {
    font-size: 16px;
    opacity: 0.7;
  }
  .email_img p {
    font-size: 14px;
  }
  .call_img {
    margin-left: 6px;
    padding-bottom: 42px;
    gap: 6px;
  }
  .call_img span {
    font-size: 16px;
    opacity: 0.7;
  }
  .call_img p {
    font-size: 14px;
  }
  .responsive_img {
    display: block;
    width: 100% !important;
  }
  .links {
    padding-left: 16px;
  }
  .IT_section {
    --bs-gutter-x: 0;
  }
  /* -----header------ */
  .navbar {
    padding: 0 16px;

    align-items: center;
    height: 56px;
  }
  .logoImage,
  .green_it_logo {
    width: 100px;
    height: 25px;
  }
  .nav-contact {
    display: none;
  }
  .navbar-collapse {
    right: -100%;
    transition: all 0.5s ease;
    display: flex;
    align-items: flex-start;
    width: 90%;
    background-color: #fff;
    height: 100vh;
    position: absolute;
    top: 56px;
  }
  .navbar-collapse.collapse.show {
    right: 0;
  }
  .navbar-nav {
    width: 100% !important;
  }
  .arrow-down {
    width: 24px;
    position: relative;
    right: 10px;
  }
  .large_allMenu {
    display: none;
  }
  .responsive_allMenu {
    display: block;
  }
  .dropdown-menu {
    display: none;
    position: relative;
    background-color: transparent;
    box-shadow: none;
    border: none;
    z-index: 99999;
    top: 0;
    width: 288px;
    padding: 0;
    padding-left: 16px;
    left: 0;
    width: 100%;
  }
  .dropdown-menu li {
    width: auto;
  }
  .dropdown-menu li a {
    border: none;
    margin: 0;
    display: flex;
    gap: 8px;
    color: #112747;
  }
  .navbar li a {
    display: flex;
    width: 100%;
    font-size: 18px;
  }
  .navbar.open {
    left: 0;
  }
  .navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 !important;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 25px 15px !important;
  }
  .navbar li .active {
    border: 0;
    background-color: #f2faff !important;
  }
  .navbar li :hover {
    border: none;
    background-color: #f2faff !important;
  }
  /* --section-1 */
  .section1 {
    height: auto;
    background-size: cover;
    margin-top: 56px;
  }
  .bgImg {
    padding: 24px 16px;
    display: block;
  }
  .heading {
    width: auto;
    border-left: 6px solid #0cbdef;
    height: 120px;
    gap: 8px;
    padding-left: 16px;
    margin-bottom: 16px;
  }
  .heading h1 {
    font-size: 24px;
  }
  .heading p {
    font-size: 14px;
  }
  .contactImage img {
    width: 180px;
    height: 180px;
  }
  .contactImage {
    display: flex;
    justify-content: center;
  }
}
